<div class="top-bar">
    <div class="container">
        <div class="top-header-contact-info">
            <div>
                <a href="tel:+916239771006"><i class="fas fa-phone"></i> +91 62397-71006</a>
                <a href="mailto:support@trademarx.in"><i class="fas fa-envelope"></i> support&#64;trademarx.in</a>
            </div>
            <div class="social-links">
                <a href="https://www.instagram.com/trademarx.in?igsh=a2QxazRveTR1bnlz&utm_source=qr" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://youtube.com/@trademarxin?si=EzQNo_8j_r12wTLc" target="_blank"><i class="fab fa-youtube"></i></a>
                <!-- <a href="#"><i class="fab fa-facebook"></i></a> -->
            </div>

        </div>

    </div>
</div>