<div class="top-bar">
        <div class="container">
            <div class="contact-info">
                <a href="tel:+919878987497"><i class="fas fa-phone"></i> +91 987-898-7497</a>
                <a href="mailto:support@trademarx.in"><i class="fas fa-envelope"></i> support&#64;trademarx.in</a>
            </div>
            <div class="social-links">
                <a href="#"><i class="fab fa-linkedin"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-facebook"></i></a>
            </div>
        </div>
    </div>