<mat-dialog-content>
     <div class="container">
        <a class="close-btn" mat-dialog-close>
            <mat-icon >close</mat-icon>
        </a>
        <div class="particles" id="particles"></div>
        <div class="ribbon">
            <span class="ribbon-content">Limited Offer!</span>
        </div>
        <div class="logo">Flat ₹600 Off!</div>
        <h1>Get Trademark Filing at just 
            <s>₹1499</s>
            <div>₹899</div> </h1>
        <p>File your TM within 24 hours — limited slots available. </p>
        
        <div class="countdown-container" id="countdown"  *ngIf="(timeLeft$ | async) as t;">
            <div class="countdown-item">
                <div class="countdown-digit" id="hours">{{t.hoursToDday}}</div>
                <div class="countdown-label">Hours</div>
            </div>
            <div class="countdown-separator">:</div>
            <div class="countdown-item">
                <div class="countdown-digit accent-digit" id="minutes">{{t.minutesToDday}}</div>
                <div class="countdown-label">Minutes</div>
            </div>
            <div class="countdown-separator">:</div>
            <div class="countdown-item">
                <div class="countdown-digit" id="seconds">{{t.secondsToDday}}</div>
                <div class="countdown-label">Seconds</div>
            </div>
        </div>
        
        <div class="registration-form">
            <form  [formGroup]="limitedOfferForm"
                [ngClass]="{'submitted': onClickValidation}"
                >
                <div class="form-group">
                        <ngx-intl-tel-input
                             [cssClass]="'custom-test'"
                                [enableAutoCountrySelect]="true"
                                [onlyCountries]="[CountryISO.India]"
                                [searchCountryFlag]="false"
                                [enablePlaceholder]="true"
                                [selectFirstCountry]="false"
                                [selectedCountryISO]="CountryISO.India"
                                [maxLength]="10"
                                [phoneValidation]="true"
                                [numberFormat]="PhoneNumberFormat.National"
                                name="phone"
                                customPlaceholder="Enter Your Phone Number"
                                formControlName="phoneNumber">
                        </ngx-intl-tel-input>
            </div>
            </form>
            
            <button type="button" id="registerButton" class="pulse submit-btn"
                mat-raised-button (click)="submit()"
                [disabled]="isSubmitting"
                >Reserve Your Spot</button>
        </div>
    </div>
</mat-dialog-content>