.faq-section{
    margin:60px  auto;
    padding: 60px 0;
    background-color: #F4F4F4;
    .faq-heading{
        color: #338bdf;
        font-size: 1.0625rem;
        font-weight: bold;
        letter-spacing: 0.1875rem;
        line-height: 1.6rem;
        margin-bottom: 1.25rem;
        text-transform: uppercase;
        text-align: center;
    }
}