.faq-section{
    padding: 60px 0;
    background-color: #F4F4F4;
    .faq-heading{
        color: #001F4D;
        font-size: 1.0625rem;
        font-weight: bold;
        letter-spacing: 0.1875rem;
        line-height: 1.6rem;
        margin-bottom: 1.25rem;
        text-transform: uppercase;
        text-align: center;
    }
}