::ng-deep {
    .mat-mdc-dialog-surface {
        background: #fff !important;
        padding: 0;
        position: relative;
        z-index: 1000;
    }
            

}
.gov-fees-popup{
    max-width: 870px;
    padding:3rem;
}
.dual-btn-section{
    text-align: center;
    padding-bottom: 1.5rem;
    .toggle-container {
            background-color: #e5e7eb;
            padding: 4px;
            border-radius: 50px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            display: inline-block;
        }

        .toggle-button {
            padding: 12px 24px;
            border: none;
            border-radius: 50px;
            font-size: 14px;
            font-weight: 500;
            cursor: pointer;
            transition: all 0.3s ease;
            background: transparent;
            color: #6b7280;
        }

        .toggle-button:hover {
            color: #374151;
        }

        .toggle-button.active {
            background-color: #334155;
            color: white;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }

        .toggle-button:focus {
            outline: none;
        }

        /* Demo content */
        .demo-content {
            position: absolute;
            top: 60%;
            text-align: center;
            color: #6b7280;
        }

        .demo-content h3 {
            margin-bottom: 8px;
            color: #374151;
        }

}
.note{
    padding-bottom: 1.5rem;
    min-height: 65px;
}

.terms-conditions{
    padding-top: 1.5rem;
    .heading{
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #111827;
        padding-bottom: 0.5rem;
    }
    ul{
        padding-left: 1.2rem;
        li{
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #6B7280;
            padding-bottom: 0.3rem;
        }
    }
}
@media  (max-width:576px){
    .gov-fees-popup{
        padding:1rem !important;
    }
    .dual-btn-section{
        .toggle-button{
            padding: 12px 10px !important;
            font-size: 13px !important;
        }
        padding:12px 10px !important;
    }
}