<app-top-header></app-top-header>
<app-navbar-v2></app-navbar-v2>

<mat-toolbar color="primary" class="form-toolbar" 
[@toolbarAnimation]="toolbarState" 
[class.fixed-toolbar]="toolbarState === 'visible'">
    <div class="container-xxl">
        <form (ngSubmit)="navFormsubmit()" [formGroup]="ctaNavForm" class="nav-form" id="navForm"
                [ngClass]="{'submitted': onClickValidation}"
                >
                    <div class=" form-input-container">

                        <mat-form-field appearance="outline" class="w-100" [hideRequiredMarker]="true">
                            <input matInput placeholder="Full Name" name="fullName" #fullName
                                formControlName="fullName">
                                <mat-icon matPrefix>person</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class=" form-input-container">

                        <mat-form-field appearance="outline" class="w-100" [hideRequiredMarker]="true">
                            <input matInput placeholder="Email" name="email" #email
                                formControlName="email">
                                <mat-icon matPrefix>email</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class=" form-input-container">

                        <mat-form-field appearance="outline" class="w-100" [hideRequiredMarker]="true">
                            <input matInput placeholder="Phone Number" name="phoneNumber" #phoneNumber
                            mask="00000-00000" formControlName="phoneNumber">
                        </mat-form-field>
                    </div>
                    <div class=" form-input-container">

                        <mat-form-field appearance="outline" class="w-100" [hideRequiredMarker]="true">
                            <input matInput placeholder="City" name="city" #city
                                formControlName="city">
                                <mat-icon matPrefix> location_on</mat-icon>
                        </mat-form-field>
                    </div>
                    <button mat-raised-button type="submit" color="primary" class="cta-submit-btn" [disabled]="isNavSubmitting">
                        <span *ngIf="!isNavSubmitting">Get Started</span>
                        <mat-spinner diameter="20" *ngIf="isNavSubmitting"></mat-spinner>

                    </button>

                </form>
    </div>
    
  </mat-toolbar>
  
<div class="home-page" [@fadeInOut]="animationState">
    <div class="top-section" [@fadeInOut]="animationState">
        <div class="cta-section-wrapper">
            <div class="container-xxl">
                <div class="cta-section row gx-0 justify-content-center">
                    <!-- <img src="/assets/images/brand creation-rafiki.svg" alt="" class="landing-bg-img"> -->
                    <section class="col-12 col-sm-12 col-md-7 d-flex">
                        <div class="cta-text-section">
                            <div class="headings">
                                <h1 class="main-heading">Trademark Registration in Just 
                                    <s class="tm-offer-base-price" >₹8,000</s>
                            <span class="tm-offer-price">₹6,399</span>
                                    </h1>
                                <p class="main-sub-heading">We simply trademark registration process for you. Completely online process. 20+ years of experience.</p>
                            </div>
                            <div class="features">
                                <div class="feature">
                                    <mat-icon>check_circle_outline</mat-icon>
                                    <span>No Hidden Charges</span>
                                </div>
                                <div class="feature">
                                    <mat-icon>check_circle_outline</mat-icon>
                                    <span>Instant Filing</span>
                                </div>
                                <div class="feature">
                                    <mat-icon>check_circle_outline</mat-icon>
                                    <span>Free Consultation</span>
                                </div>
                                
                                <div class="feature">
                                    <mat-icon>check_circle_outline</mat-icon>
                                    <span>Free Trademark Search Report</span>
                                </div>
                                
                            </div>
                            <section class="trust-section">
                                <div class="stars">
                                    <img src="/assets/images/star-icon.png" class="star-icons" alt="star" *ngFor="let _ of [].constructor(5)">
                                </div>
                                <div class="content">Trusted by 3,000+ Startups & Entrepreneurs</div>
                            </section>
                        </div>
                        
                        
                    </section>
                    <div class="col-12 col-sm-12 col-md-5 animate__animated animate__fadeIn">
                    <app-lead-form 
                    [heading]="'Register Your Trademark!'" 
                    [cta]="'Get Started'"
                     [comments]="'TRADEMARK REGISTRATION'" 
                     [planTypeSubject]="planTypeSubject"
                     ></app-lead-form>
                    </div>
                
                </div>
            </div>
            
        </div>
        <div class="benefits-section-wrapper">
            <div class="container-xxl">
                <div class="row">
                    <section class="benefits-section col-lg-7 row" [@fadeInOut]="animationState">
                    
                        <div class="benefit col-12 col-sm-12 col-lg-4">
                            <mat-icon>lock</mat-icon>
                            <div class="content">
                                <span>
                                    100%
                                </span>
                                <span>Secure</span>
                            </div>
                        </div>
                        <div class="benefit col-12 col-sm-12 col-lg-4">
                            <mat-icon>verified_user</mat-icon>
                            <div class="content">
                                <span>
                                    Government
                                </span>
                                <span>Certified Agent</span>
                            </div>
                        </div>
                        <div class="benefit col-12 col-sm-12 col-lg-4">
                            <mat-icon>access_time</mat-icon>
                            <div class="content">
                                <span>
                                    10-minutes
                                </span>
                                <span>Response Time</span>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            
        </div>
        <div class="stats-banner" [@fadeInOut]="animationState">
            <div class="container-xxl">
                <div class="row content">
                    <div class="stat col-xs-12 col-sm-4">
                        <div class="stat-content">
                            <div class="title" appCountUp [endValue]="1000" [suffix]="'+'">0+</div>
                            <div class="description">Registrations</div>
                        </div>
                    </div>
                    <div class="stat col-xs-12 col-sm-4">
                        <div class="stat-content">
                            <div class="title" appCountUp [endValue]="20" [suffix]="'+'">0+</div>
                            <div class="description">Years Of Experience</div>
                        </div>
                    </div>
                    <div class="stat col-xs-12 col-sm-4">
                            <div class="stat-content">
                                <div class="title" appCountUp [endValue]="100" [suffix]="'%'">0%</div>
                                <div class="description">Customer Satisfaction</div>
                            </div>
                        </div>
                    </div>
            </div>
           
        </div> 
        
        
        <div class="" [@fadeInOut]="animationState">
            <app-rating-review></app-rating-review>
          
            
            
        </div>
        <div class="hiw-section" [@fadeInOut]="animationState">
            <div class="hiw-heading">Registration Process</div>
                    <app-vertical-stepper [registrationSteps]="registrationSteps"></app-vertical-stepper>
            
        </div>
        <div class="required-documents-section" [@fadeInOut]="animationState">
            <div class="container-xxl">
                <h2>📄 Documents Required for Trademark Registration in India</h2>
                <div class="document-cards">
                    <div class="document-card-grid">
                        <div class="row gy-4">
                            <div class="col-12 col-sm-12 col-md-5 col-xl-4" *ngFor="let doc of documents">
                                <mat-card class="document-card"  appearance="outlined">
                                    <mat-card-header>
                                      <mat-card-title-group>
              
                                          <div mat-card-avatar class="doc-icon">
                                          <mat-icon>{{ doc.icon }}</mat-icon>
                                          </div>
                                          <mat-card-title>{{ doc.title }}</mat-card-title>
                                      </mat-card-title-group>
                                    </mat-card-header>
                                    <mat-card-content>
                                      <ul *ngIf="doc.points?.length">
                                        <li *ngFor="let point of doc.points">{{ point }}</li>
                                      </ul>
                                      <p *ngIf="doc.note"><strong>Note:</strong> {{ doc.note }}</p>
                                    </mat-card-content>
                                  </mat-card>
                            </div>
                         
                        </div>
                        
                      </div>
                      
                </div>
            </div>
            
        </div>

        <div class="pricing-section">
            
            <!-- <app-pricing-section (planTypeEmitter)="onPlanTypeChange($event)"></app-pricing-section> -->
             <app-trademark-plan-cards [showPayLater]="false" (onPlanSelect)="onPlanTypeChange($event)"></app-trademark-plan-cards>
        </div>
        <div class="container">
            <div class="trademark-registration-process-section">
                <header>
                    <h1 class="blog-title">{{blog?.title}}</h1>
                    <img class="blog-img" [src]="blogBaseUrl+ blog?.featuredImage?.url" [title]="blog?.title" [alt]="blog?.title">
                </header>
                <app-blog-markdown [blog]="blog"  ></app-blog-markdown>
            </div>
            
        </div>
        <section class="call-us-section">
            <div class="content">
                <h1>Let's talk</h1>
                <p>Have questions about trademark registration, protecting your brand, or just not sure where to start?  Whether you're a startup, a growing business, or just exploring ideas, we'd love to hear from you. Let's build something that protects and elevates your brand.</p>
                <a type="button" class="btn btn-outline-primary call-us-btn" href="tel:+919878987497">Call 9878987497</a>

            </div>
        </section>
        <section class="home-faq-section">
            <app-faq></app-faq>
        </section>
    </div>
<a href="https://api.whatsapp.com/send?phone=9878987497&text=I%20want%20a%20trademark%20registration" class="whatsapp-button" target="_blank">
    <img src="/assets/images/whatsapp-icon.png" alt="whatsapp icon">
  </a>
  <a href="tel:+919878987497" class="call-button"
   >
  <img src="/assets/images/call-now-icon.png" alt="Call Button">
</a>
  
</div>
<!-- <app-footer></app-footer> -->
 <app-footer-v2></app-footer-v2>

