<section class="basic-details-section">
  <div class="container-xxl">
    <div class="row">
      <div class="col col-12 col-sm-12 col-lg-7">

        <div class="step-heading">
          <h1>Tell us about yourself</h1>
          <p>We'll use these details for your trademark application.</p>
        </div>

        <form (ngSubmit)="submit()" [formGroup]="leadForm"
              [ngClass]="{'submitted': onClickValidation}">
          <div class="row">

            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="fullName">Full Name</label>
                <input id="fullName" type="text" class="form-input"
                       placeholder="Enter your full name"
                       formControlName="fullName">
                <app-validation-message [field]="leadForm.get('fullName')"
                                        [onClickValidation]="onClickValidation">
                </app-validation-message>
              </div>
            </div>

            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="email">Email Address</label>
                <input id="email" type="email" class="form-input"
                       placeholder="Enter your email"
                       formControlName="email">
                <app-validation-message [field]="leadForm.get('email')"
                                        [onClickValidation]="onClickValidation">
                </app-validation-message>
              </div>
            </div>

            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="phoneNumber">Phone Number</label>
                <input id="phoneNumber" type="phoneNumber" class="form-input"
                       placeholder="Enter your phone number"
                       formControlName="phoneNumber">
                <app-validation-message [field]="leadForm.get('phoneNumber')"
                                        [onClickValidation]="onClickValidation">
                </app-validation-message>
              </div>
            </div>

            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="city">City</label>
                <input id="city" type="text" class="form-input"
                       placeholder="Enter your city"
                       formControlName="city">
                <app-validation-message [field]="leadForm.get('city')"
                                        [onClickValidation]="onClickValidation">
                </app-validation-message>
              </div>
            </div>

          </div>
        </form>

        <app-trademark-onboarding-btn-section
          [showBackBtn]="false"
          [isSubmitting]="isSubmitting"
          (buttonClick)="submit()">
        </app-trademark-onboarding-btn-section>

      </div>
    </div>
  </div>
</section>
