.footer-section {
        ul {
            padding-left: 0;
        }
    .social-links-section{
        display: flex;
        gap:10px;
        a{
            margin-left: 0;
        }
        

    }

}