.upload-document-page {
    .top-section {
        background: #ffffff;
        border-radius: 12px;
        padding: 24px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
        transition: box-shadow 0.3s ease;
        margin-bottom: 50px;

        .section-header {
            h3 {
                margin: 0;
                font-size: 24px;
                font-weight: 600;
                color: #1a1a1a;

            }
        }
        
          .upload-btn {
            display: block;
            padding: 10px 12px;
            border-radius: 50px;
            background: var(--Blue-900, #001F4D);
            box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
            color: #FFFFFF;
            width: 100%;
            text-align: center;
            font-size: 19px;
            font-style: normal;
            font-weight: 500;
            letter-spacing: -0.038px;
            height: 55px;
            margin-bottom: 16px;
            &.disable-btn {
               pointer-events: none;
                opacity: 0.5;
            }

          }

    }
}

::ng-deep {
    mat-form-field {
        width: 100%;
    }
}