<div class="website-redesign-v2">
  <app-dashboard-header></app-dashboard-header>
  <div class="site-page-body create-account-page-v2">
    <div class="create-account-main-section">
      <app-features class="features-component"></app-features>
      <div class="register-section">
        <h1 class="login-heading forgot-heading welcome-text">Reset Password</h1>
        <div class="login-sub-heading mb-4 text-center">
          <p>
            Enter a new password for your account.
          </p>
        </div>
        <div class="form-section">
          <form class="site-form" novalidate="novalidate" #loginForm="ngForm" (ngSubmit)="contiune(loginForm.form)">
            <div class="row g-4 no-mobile-view-g">
              <div class="col-lg-12 site-form-field-container password-field-container">
                <label for="password">Password</label>
                <mat-form-field class="site-form-field" appearance="fill" appearance="outline"
                  [ngClass]="{'mat-form-field-invalid':!userPassword.valid && (onClickValidation || userPassword.touched || userPassword.dirty)}">

                  <input matInput [type]="passwordFieldType" required="required" name="userPassword"
                    #userPassword="ngModel" [(ngModel)]="data.newPassword" placeholder="Enter password" id="password"
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&()-_=+\{};:.?*?])[A-Za-z\d!@#$%^&()-_=+\{};:.?*?]{8,}" />
                  <mat-icon matSuffix [ngClass]="userPassword.value ? 'visible': 'invisible'"
                    (click)="eyePassword()">{{passwordFieldType==='password'?'visibility':'visibility_off'}}</mat-icon>
                </mat-form-field>
                <app-validation-message [field]="userPassword"
                  [customPatternMessage]="'Must be at least 8 characters and include a capital letter, number, and special character.'"
                  [onClickValidation]=" userPassword.dirty || userPassword.touched ||onClickValidation">
                </app-validation-message>
              </div>
              <div class="col-lg-12 site-form-field-container mt-2">
                <label for="confirmpassword">Confirm Password</label>
                <mat-form-field class="site-form-field" appearance="fill" appearance="outline"
                  [ngClass]="{'mat-form-field-invalid-password':((!confirmPassword.valid && (onClickValidation || confirmPassword.touched || confirmPassword.dirty)) || (data.newPassword !== data.confirmPassword))}">
                  <input matInput [type]="confirmPasswordFieldType" required="required" name="confirmPassword"
                    #confirmPassword="ngModel" [(ngModel)]="data.confirmPassword" id="confirmpassword"
                    placeholder="Enter password"
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&()-_=+\{};:.?*?])[A-Za-z\d!@#$%^&()-_=+\{};:.?*?]{8,}" />
                  <mat-icon matSuffix [ngClass]=" confirmPassword.value ? 'visible': 'invisible'"
                    (click)="eyeConfirmPassword($event)">{{confirmPasswordFieldType==='password'?'visibility':'visibility_off'}}</mat-icon>
                </mat-form-field>
                <app-validation-message [field]="confirmPassword"
                  [customPatternMessage]="'Must be at least 8 characters and include a capital letter, number, and special character.'"
                  [comparableField]="userPassword"
                  [onClickValidation]="confirmPassword.dirty || confirmPassword.touched || onClickValidation">
                </app-validation-message>
              </div>
            </div>
            <button mat-raised-button class="btn btn-lg sign-btn mt-2 mb-4" [disabled]="loginForm.form.invalid">
              Reset Password
            </button>
            <div class="create-account-text text-center">
              Don't have an account yet?
              <a [routerLink]="['/create-account']" class="text-decoration-underline primary">
                Create Account for free
              </a>
            </div>
          </form>
        </div>
      </div>
      <app-common-register-login-mobile-section></app-common-register-login-mobile-section>
    </div>
  </div>
</div>