<div class="feature-section">
    <div class="feature-text-section">

      <div class="feature-heading">
We Simplify Trademark Registration for You      </div>
      <div class="feature-text">
          Secure your brand name in minutes — hassle-free and fully online.
      </div>
     
    </div>
    <div class="no-mobile-view">
      <div class="provider-cards">
        <div class="provider-card">
          <div class="provider-img-section">
            <img src="/assets/images/tm-filing.png" class="provider-img" id="spectrum-logo" alt="Spectrum Logo">
          </div>
          <div class="provider-category">
            <span class="primary-secondary-btn category-chip redesign-btn-v2">
              Trademark Filing
            </span>
          </div>
          <div class="provider-savings-section">
            <div class="line-height-0-6">At Just</div>
            <div class="savings-amount">₹999</div>
            <div class="line-height-0-6">only</div>
          </div>
        </div>
        <div class="provider-card">
          <div class="provider-img-section">
            <img src="/assets/images/tm-filing-hearing.png" class="provider-img" id="aep-logo" alt="Spectrum Logo">
          </div>
          <div class="provider-category">
            <span class="primary-secondary-btn category-chip redesign-btn-v2">
              Trademark Filing 
            </span>
            <br>
            <span class="primary-secondary-btn category-chip redesign-btn-v2">
              & Hearings
            </span>
            
               
          </div>
          <div class="provider-savings-section">
            <div class="line-height-0-6">At Just</div>
            <div class="savings-amount">₹2999</div>
            <div class="line-height-0-6">only</div>
          </div>
        </div>
        <div class="provider-card">
          <div class="provider-img-section">
            <img src="/assets/images/att-logo.png" class="provider-img" id="att-logo" alt="Spectrum Logo">
          </div>
          <div class="provider-category">
            <span class="primary-secondary-btn category-chip redesign-btn-v2">
              ⚖️ Expert Review
            </span>
          </div>
          <div class="provider-savings-section">
            <div>Receive</div>
            <div class="savings-amount">$240</div>
            <div>in savings</div>
          </div>
        </div>
      </div>

    </div>

    <div class="feature-condition-section no-mobile-view">
      Trusted by 1000+ startups and small businesses across India.
    </div>
  </div>