<section class="select-class-body">
  <div class="container-xxl">
    <div class="row">
      <div class="col col-12 col-sm-12 col-lg-8 select-class-section">
        <form>
          <label class="mat-body-1" style="font-weight: 600;">
            <span style="color: red;">*</span> Do you know the classifications that your trademark will need?
          </label>
          <div class="mat-caption" style="margin-bottom: 8px;">
            Trademark classifications are used by governments to categorize brands based on how they are used.
          </div>
          <mat-radio-group [(ngModel)]="classificationChoice" name="classificationChoice" style="display: flex; gap: 16px; margin-bottom: 24px;" color="primary">
            <mat-radio-button value="pick">Yes, I will pick them myself</mat-radio-button>
            <mat-radio-button value="auto">No, pick them for me</mat-radio-button>
          </mat-radio-group>

          <div *ngIf="classificationChoice === 'pick'; else autoBlock">
             <div style="margin: 16px 0 8px 0; font-weight: 500;">
                Enter products or services you will sell using your trademark <span class="mat-caption">(i.e.: shirt, coffee, restaurant, retail store).</span>
              </div>
              <app-trademark-class (onChange)="onClassSelection($event)"
          [filterChanges]="filterChanges"></app-trademark-class>

             
          </div>
          <ng-template #autoBlock>
              <label for="productServiceDescription">Briefly describe your product or service</label>
            <mat-form-field>
              <textarea matInput id="productServiceDescription" required placeholder="e.g., marketing, software, textile"></textarea>
            </mat-form-field>
          </ng-template>
        </form>
        <app-trademark-onboarding-btn-section 
                        (skipEvent)="skip()"
                        [isSubmitting]="isSubmitting" (buttonClick)="submit()"></app-trademark-onboarding-btn-section>
      </div>
      
      <div class="col col-12 col-sm-12 col-lg-4">
        <!-- Right column left empty for now -->
      </div>
    </div>
  </div>
</section>