.cta-form-section {
    // background-image: url('/assets/images/cta-form-bg-img.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    position: relative;

    >div {

        flex-grow: 1;

        .cta-form-call-now {
            font-size: 1.25rem;
            text-align: center;

            .call-now {
                color: var(--light-text);
                font-weight: 600;
                margin-top: 1.25rem;
                transition: var(--transition);

                &:hover {
                    transform: translateY(-1px);
                    text-decoration: underline;
                }


            }
        }
    }

    .cta-form {
        background-color: #fff;
        border-radius: 1.6rem;
        height: max-content;
        padding: 1.25rem 1.875rem;
        text-align: center;
        overflow: hidden;

        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        .form-input-container {
            margin-bottom: 10px;
        }

        .form-heading-section {
            color: #273653;
            text-align: center;

            .form-heading {
                font-size: 1.75rem;
                font-weight: 700;
            }
        }

        .cta-submit-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 7.5rem;
            border-radius: 0.625rem;
            font-size: 1.25rem;
            padding: 1.25rem;
            text-align: center;
            width: 100%;
            background: var(--gradient);
            color: white;

            mat-spinner {
                margin: 0 auto;
            }

            span {
                margin: 0 auto;
            }
        }

        label {
            text-align: left;
            color: var(--Black, #202020);
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: -0.028px;
            margin-bottom: 5px;
        }
    }
}

::ng-deep {
    .cta-form-section {
        .mat-mdc-form-field-subscript-wrapper {
            display: none;
        }
    }
}

@media (max-width:576px) {

    .cta-form-section {
        justify-content: center;
        background-image: none;

        >div {
            position: static;
        }

        .cta-form {
            padding: 20px 10px;
            flex-grow: 1;
            position: static;

            .form-heading-section {
                .form-heading {
                    font-size: 20px;
                }
            }
        }
    }
}

@media (max-width:768px){
    .cta-form-section > div{
        position: static !important; 

    }
}