<section class="cta-form-section">
                        <div>
                        <p class="cta-form-call-now">Call Now: 
                            <a type="button" class="call-now" href="tel:+919878987497">9878987497</a></p>
                        <form (ngSubmit)="submit()" [formGroup]="ctaForm" class="cta-form"
                        [ngClass]="{'submitted': onClickValidation}" id="ctaForm" #ctaFormElement
                        >
                            <div class="form-heading-section">
                                <h1 class="form-heading">
                                    {{heading}}
                                </h1>
                            </div>
                            <div class=" form-input-container">

                                <mat-form-field appearance="outline" class="w-full" [hideRequiredMarker]="true">
                                    <input matInput placeholder="Your Name" name="fullName" #fullName id="name"
                                        formControlName="fullName">
                                        <mat-icon matPrefix>person</mat-icon>
                                </mat-form-field>
                                <app-validation-message [field]="ctaForm.get('fullName')"
                                    [onClickValidation]="onClickValidation"></app-validation-message>
                            </div>
                            <div class=" form-input-container">
        
                                <mat-form-field appearance="outline" class="w-full" [hideRequiredMarker]="true">
                                    <input matInput placeholder="Your Email" name="email" #email id="email"
                                        formControlName="email">
                                        <mat-icon matPrefix>email</mat-icon>
                                </mat-form-field>
                                <app-validation-message [field]="ctaForm.get('email')"
                                    [onClickValidation]="onClickValidation"></app-validation-message>
                            </div>
                            <div class=" form-input-container">
                                <app-phone-input [control]="ctaForm.controls['phoneNumber']"></app-phone-input>
                                
                                <app-validation-message [field]="ctaForm.get('phoneNumber')"
                                    [onClickValidation]="onClickValidation"></app-validation-message>
                            </div>
                            <div class=" form-input-container" *ngIf="showTextArea">
                                <mat-form-field appearance="outline" class="w-full" [hideRequiredMarker]="true">
                                    <textarea matInput placeholder="Your Message" name="comments" #comments id="comments"
                                        formControlName="comments" ></textarea>
                                        
                                </mat-form-field>
                                <app-validation-message [field]="ctaForm.get('comments')"
                                    [onClickValidation]="onClickValidation"></app-validation-message>
                            </div>
                            <button mat-raised-button type="submit" color="primary" class="cta-submit-btn" [disabled]="isSubmitting">
                                <span>{{cta}}</span>
                            </button>
        
                        </form>
                        </div>
                        
                    </section>