<section class="cta-form-section">
                        <div>
                        <p class="cta-form-call-now">Call Now: 
                            <a type="button" class="call-now" href="tel:+919878987497">9878987497</a></p>
                        <form (ngSubmit)="submit()" [formGroup]="ctaForm" class="cta-form"
                        [ngClass]="{'submitted': onClickValidation}" id="ctaForm" #ctaFormElement
                        >
                            <div class="form-heading-section">
                                <h1 class="form-heading">
                                    {{heading}}
                                </h1>
                            </div>
                            <div class=" form-input-container">
                                <label for="name" class="form-labels">Name</label>

                                <mat-form-field appearance="outline" class="w-100" [hideRequiredMarker]="true">
                                    <input matInput placeholder="Full Name" name="fullName" #fullName id="name"
                                        formControlName="fullName">
                                        <mat-icon matPrefix>person</mat-icon>
                                </mat-form-field>
                                <app-validation-message [field]="ctaForm.get('fullName')"
                                    [onClickValidation]="onClickValidation"></app-validation-message>
                            </div>
                            <div class=" form-input-container">
                                <label for="email" class="form-labels">Email</label>
        
                                <mat-form-field appearance="outline" class="w-100" [hideRequiredMarker]="true">
                                    <input matInput placeholder="Email" name="email" #email id="email"
                                        formControlName="email">
                                        <mat-icon matPrefix>email</mat-icon>
                                </mat-form-field>
                                <app-validation-message [field]="ctaForm.get('email')"
                                    [onClickValidation]="onClickValidation"></app-validation-message>
                            </div>
                            <div class=" form-input-container">
                                <label for="phoneNumber" class="form-labels">Phone Number</label>
                                <mat-form-field appearance="outline" class="w-100" [hideRequiredMarker]="true">
                                    <input matInput placeholder="Phone Number" name="phoneNumber" #phoneNumber id="phoneNumber"
                                        formControlName="phoneNumber" mask="0000000000">
                                        <mat-icon matPrefix>phone</mat-icon>
                                        
                                </mat-form-field>
                                <app-validation-message [field]="ctaForm.get('phoneNumber')"
                                    [onClickValidation]="onClickValidation"></app-validation-message>
                            </div>
                            <button mat-raised-button type="submit" color="primary" class="cta-submit-btn" [disabled]="isSubmitting">
                                <span>{{cta}}</span>
                                <mat-spinner diameter="20" *ngIf="isSubmitting"></mat-spinner>
                            </button>
        
                        </form>
                        </div>
                        
                    </section>