::ng-deep{
    .mat-mdc-form-field{
        width: 100%;
    }
    .mat-mdc-selection-list{
        flex-wrap: wrap;
        display: flex !important;
        .mat-mdc-list-item{
            width: 50%;
            .mdc-list-item__primary-text{
                white-space: wrap !important;
                line-height: 100% !important;
                font-size: .6875rem ;
            }
        }
    }
    .mdc-evolution-chip-set__chips{
        max-width: 100%;
        .tm-mat-chip-option{
            background-color: #fff !important;
            border: 1px solid #338bdf;
            border-radius: 10px;
            height: 50px !important;
            padding: 5px 0;
        }
        .mdc-evolution-chip__text-label{
            white-space: normal;
            max-height: 100%;
            overflow: hidden !important;

        }
    }
}
.close-icon-btn{
    cursor: pointer;
}