  <mat-toolbar class="dashboard-nav-bar site-navbar">
    <mat-toolbar-row [ngClass]="isAuthorizedUser ? 'logged-in-toolbar' : ''">
      <img class="sidenav-mobile-view-logo" src="/assets/images/trademarx.svg" alt="logo"
        [routerLink]="['/portal/dashboard']" />
      <div class="user-icon-container" *ngIf="isAuthorizedUser">


        <a [matMenuTriggerFor]="menu">
          <img src="/assets/images/icons/user-profile-icon.svg" alt="" class="user-icon">
        </a>
      </div>
      <div class="nav-bar-actions" *ngIf="!isAuthorizedUser">
        <button *ngIf="!isLoginPage" mat-raised-button class="primary-secondary-btn login-link" [routerLink]="['/login']">
            <span>Login</span>
          </button>
          <button  *ngIf="isLoginPage" mat-raised-button class="primary-secondary-btn register-link" [routerLink]="['/create-account']">
            <span>Create Account</span>
        </button>
      </div>
      <button mat-icon-button class="mobile-view-menu-icon" aria-label="Menu" (click)="toggle()">
        <mat-icon class="ham-menu">menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu" class="account-sub-menu">
        <button mat-menu-item>
          <span>{{userProfile?.firstName}} {{userProfile?.lastName}}</span>
        </button>
        
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Sign Out</span>
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-expansion-panel class="mobile-view-menu mobile-menu-view-v2 " [expanded]="panelOpenState">
    <div class="mobile-menu-items">
      <a class="mobile-menu-item dashboard-nav-item first-mobile-item" *ngIf="isAuthorizedUser">
          <span>{{userProfile?.firstName}} {{userProfile?.lastName}}</span>
      </a>
      <div class="mobile-menu-actions" *ngIf="!isAuthorizedUser">
      <button  *ngIf="!isLoginPage" mat-raised-button class="primary-secondary-btn login-link" [routerLink]="['/login']">
        <span>Login</span>
      </button>
      <button  *ngIf="isLoginPage" mat-raised-button class="primary-secondary-btn register-link" [routerLink]="['/create-account']">
        <span>Create Account</span>
      </button>
      </div>
    <div class="mobile-menu-actions" *ngIf="isAuthorizedUser">
            <a class="mobile-menu-item dashboard-nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
        [routerLink]="['/portal/dashboard']" (click)="toggle()">
        <span>Dashboard</span>
      </a>
      <a class="mobile-menu-item dashboard-nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
        [routerLink]="['/portal/trademark-registration/type']" (click)="toggle()">
        <span>File New Trademark</span>
      </a>
            <a class="mobile-menu-item dashboard-nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
        [routerLink]="['/portal/upload-documents']" (click)="toggle()">
        <span>Upload Documents</span>
      </a>
    </div>
      
    </div>
  </mat-expansion-panel>
