.dashboard-nav-bar{
    justify-content: space-between;
    top: 0;
    box-shadow: -0.25rem 1.25rem 2.5rem #0000000f, 0 .125rem .625rem #0000001a;
    width: 100%;
    position: fixed;
    left: 0;
    z-index: 100;
}

.user-icon{
    width: 47px;
    height: 47px;
}
.nav-bar-actions{
        .nav-bar-action{
            color: #001F4D !important;
            border-radius: var(--Radius-6, 6px);
            border: 1px solid var(--Neutral-100, #F6F5F4);
            background: var(--White, #FFF);
            box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
            padding: 6px 10px !important;
        }
    }
.dashboard-nav-bar {
    .mat-toolbar-row {
      padding-left: 30px;
      padding-right: 30px;
      justify-content: space-between;
    }
    .sidenav-mobile-view-logo {
      margin-top: -5px;
    }
    .user-icon-container {
      width: 100%;
      display: flex;
      justify-content: end;
      align-items: center;
    }
    .mobile-view-menu-icon {
      display: none;
    }

  }

  @media screen and (max-width: 990px) {
    .nav-bar-actions {
    display: none !important;
  }
  
  .dashboard-nav-bar {
    .mat-toolbar-row {
      justify-content: space-between;
      padding-left: 20px !important;
      padding-right: 10px !important;
      &.logged-in-toolbar {
            .user-icon-container {
        order: 3;
        width: auto;
      }
      .mobile-view-menu-icon {
        order: 1;
      }
      .sidenav-mobile-view-logo{
        order: 2;
      }
      }
  

      
    }
    .sidenav-mobile-view-logo {
      display: inline !important;
    }
  }
  .profile-form-container {
    padding: 20px !important;
  }
  .sidenav-container {
    .mat-sidenav-content {
      margin-left: 0 !important;
    }
  }
  .mobile-view-menu-icon {
    display: inline-block !important;

  }
  .mobile-view-menu {
    display: block !important;
    position: fixed !important;
    width: 100%;
    z-index: 1000;
    .dashboard-nav-item {
        font-weight: 700 !important;
        color: var(--Blue-900, #001F4D) !important;
        padding: 16px 20px;
        display: block;
        &.first-mobile-item{
          font-weight: 500 !important;
          font-size: 18px !important;
        }

        &.active:not(.non-functional) {
          color: var(--Blue-900, #001F4D) !important;
          background-color: #D9D9D9 !important;
        }
        margin-bottom: 0;
        font-size: 15px;
        font-weight: 500;
        color: #191c1d;

        .menu-item-img,
        .menu-item-icon {
          margin-right: 16px;
        }

        .menu-item-icon,
        span {
          display: inline-block;
          vertical-align: middle;
        }

        &.active:not(.non-functional) {
          background-color: #dbe4e6;
        }

        &.non-functional {
          opacity: .5;
        }
      }
  }
 
}
.dashboard-nav-bar {
  .user-icon-container {
    .household-list {
      color: #000;
      .multi-household-select {
        width: 300px;
      }
      .mat-form-field {
        width: auto !important;
      }
      .mat-select-value {
        max-width: 100%;
        width: auto;
      }
      .mat-mdc-text-field-wrapper.mdc-text-field {
        background-color: transparent !important;
      }
      .mdc-line-ripple {
        display: none;
      }
      .mat-mdc-select-trigger {
        gap: 15px;
        .mat-mdc-select-value {
          width: auto !important;
        }
        .mat-mdc-select-placeholder {
          color: #000;
          font-size: 14px;
        }
        .mat-mdc-option.mdc-list-item {
          .mdc-list-item__primary-text {
            white-space: nowrap;
          }
        }
      }
      .mat-mdc-form-field-focus-overlay {
        background-color: transparent !important;
      }
    }
  }
}

.primary-secondary-btn {
          background-color: #C5D9FD !important;
          color: #001F4D !important;
        }

.primary-secondary-btn:hover {
  background-color: #B0CBFC !important;
  color: #001F4D !important;
}

::ng-deep{
  .mat-toolbar{
    background-color: white !important;
    .mat-toolbar-row{
    }
  }
  .mat-expansion-panel-body{
    padding:10px 24px 16px !important;
    background: #F2F4F4 !important;

  }
}