<app-dashboard-header></app-dashboard-header>
<div class="terms-conditions-body">
    <app-default-top-section [heading]="'About Us'" [subHeading]="'A Few Words'"
    backgroundImg="url(/assets/images/about-us.jpg)"

    ></app-default-top-section>
    <div>
        <div class="responsive-container-block bigContainer">
  <div class="responsive-container-block Container">
    <div class="imgContainer">
      <img class="blueDots" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/aw3.svg">
      <img class="mainImg" src="/assets/images/lawyer.jpg">
    </div>
    <div class="responsive-container-block textSide">
      <p class="text-blk heading">
        Who We Are ?
      </p>
      <p class="text-blk subHeading">
        Trademarx is a trusted Intellectual Property Consultant firm that specializes in protecting and managing intellectual property rights for businesses. Offering services like trademark registration, copyrights, and certifications, the firm ensures your business assets are legally safeguarded.
    </p>
      <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
        <div class="cardImgContainer">
          <img class="cardImg" src="/assets/images/medal.svg">
        </div>
        <div class="cardText">
          <p class="text-blk cardHeading">
            Expertise & Experience

          </p>
          <p class="text-blk cardSubHeading">
            With deep expertise in intellectual property law, Trademarx offers specialized services in trademark registration, copyright protection, and international certifications, ensuring tailored solutions to effectively safeguard your business's intellectual assets.
          </p>
        </div>
      </div>
      <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
        <div class="cardImgContainer">
          <img class="cardImg" src="/assets/images/globe.svg">
        </div>
        <div class="cardText">
          <p class="text-blk cardHeading">
            Our Values
          </p>
          <p class="text-blk cardSubHeading">
            At Trademarx, we are driven by values of integrity, excellence, and transparency. We believe in delivering high-quality intellectual property solutions, ensuring ethical practices, personalized services, and long-lasting relationships with our clients
        </p>
        </div>
      </div>
      <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
        <div class="cardImgContainer">
          <img class="cardImg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/id2.svg">
        </div>
        <div class="cardText">
          <p class="text-blk cardHeading">
            Our Approach
          </p>
          <p class="text-blk cardSubHeading">
            At Trademarx, our approach is client-centered and solution-driven. We take the time to understand each client's unique needs, delivering tailored intellectual property strategies that ensure effective protection while fostering long-term business growth and success.
        </p>
        </div>
      </div>
      <!-- <a>
        <button class="explore">
          Explore our Services
        </button>
      </a> -->
    </div>
    <img class="redDots" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/cw3.svg">
  </div>
</div>
    </div>
</div>

<app-footer></app-footer>