<div>
  <app-dashboard-header></app-dashboard-header>
  <div class="site-page-body create-account-page-v2">
    <div class="create-account-main-section">
      <app-features class="features-component"></app-features>
      <div class="register-section">
        <p class="cta-form-call-now">Call Now:
          <a type="button" class="call-now" href="tel:+919878987497" (click)="trackCallToActionEvent()">9878987497</a>
        </p>
        <h2 class="register-heading ">
          Register Your Trademark
        </h2>
        <div class="form-section mx-2 mx-md-auto">
          <form class="site-form" novalidate="novalidate" #loginForm="ngForm"
            (ngSubmit)="executeRecaptchaAndRegister(loginForm.form)">
            <div class="row g-4 no-mobile-view-g">
              <div class="col-lg-12 site-form-field-container mb-3">
                <label for="firstname" class="form-labels">Name</label>
                <mat-form-field class="site-form-field" appearance="outline"
                  [ngClass]="{'mat-form-field-invalid':!firstName.valid && (onClickValidation || firstName.touched || firstName.dirty)}">
                  <input matInput required="required" name="firstName" #firstName="ngModel" [(ngModel)]="data.firstName"
                    id="firstname" maxlength="45" placeholder="Enter full Name" appWhitespaceValidator>
                  <mat-icon matSuffix [ngClass]="firstName.value ? 'visible': 'invisible'"
                    (click)="data.firstName=undefined">highlight_off</mat-icon>
                </mat-form-field>
                <app-validation-message [field]="firstName"
                  [onClickValidation]="firstName.dirty || firstName.touched || onClickValidation">
                </app-validation-message>
              </div>

            </div>
            <div class="row g-0">
              <div class="site-form-field-container mb-3 no-padding">
                <label for="email" class="form-labels">Email</label>

                <mat-form-field class="site-form-field" appearance="fill" appearance="outline"
                  [ngClass]="{'mat-form-field-invalid':!userEmail.valid && (onClickValidation || userEmail.touched || userEmail.dirty)}">

                  <input matInput required="required" name="userEmail" #userEmail="ngModel" [readonly]="loggedIn"
                    pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,4}$" [(ngModel)]="data.email" id="label"
                    placeholder="Enter email address">
                  <mat-icon *ngIf="!loggedIn" matSuffix [ngClass]=" userEmail.value ? 'visible': 'invisible'"
                    (click)="data.email=undefined">highlight_off</mat-icon>
                </mat-form-field>
                <app-validation-message [field]="userEmail"
                  [customPatternMessage]="'Please provide a valid email address'"
                  [onClickValidation]="userEmail.dirty || userEmail.touched|| onClickValidation">
                </app-validation-message>
              </div>
            </div>
            <div class="row g-4 no-mobile-view-g">
              <div class="col-lg-12 site-form-field-container mb-3">
                <label for="phonenumber" class="form-labels"> Phone number</label>
                <mat-form-field class="site-form-field" appearance="fill" appearance="outline"
                  [ngClass]="{'mat-form-field-invalid':!phoneNumber.valid && (onClickValidation || phoneNumber.touched || phoneNumber.dirty)}">

                  <input matInput type="tel" required="required" name="phoneNumber" #phoneNumber="ngModel"
                    [(ngModel)]="data.phoneNumber" mask="000-000-0000" id="phonenumber"
                    placeholder="Enter phone number">
                  <mat-icon matSuffix [ngClass]="phoneNumber.value ? 'visible': 'invisible'"
                    (click)="data.phoneNumber=undefined">highlight_off</mat-icon>
                </mat-form-field>
                <app-validation-message [field]="phoneNumber"
                  [onClickValidation]="phoneNumber.dirty || phoneNumber.touched || onClickValidation">
                </app-validation-message>
              </div>
            </div>
            <!-- <div class="row g-0 no-mobile-view-g" *ngIf="!loggedIn">
              <div class="col-lg-12 site-form-field-container mb-3 password-field-container">
                <label for="password" class="form-labels">Password</label>
                <mat-form-field class="site-form-field" appearance="fill" appearance="outline"
                  [ngClass]="{'mat-form-field-invalid':!userPassword.valid && (onClickValidation || userPassword.touched || userPassword.dirty)}">

                  <input matInput [type]="passwordFieldType" required="required" name="userPassword"
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&()-_=+\{};:.?*?])[A-Za-z\d!@#$%^&()-_=+\{};:.?*?]{8,}"
                    #userPassword="ngModel" [(ngModel)]="data.password" placeholder="Enter password" id="password" />
                  <mat-icon matSuffix [ngClass]="userPassword.value ? 'visible': 'invisible'"
                    (click)="eyePassword()">{{passwordFieldType==='password'?'visibility':'visibility_off'}}</mat-icon>
                </mat-form-field>
                <app-validation-message [field]="userPassword"
                  [customPatternMessage]="'Must be at least 8 characters and include a capital letter, number, and special character.'"
                  [onClickValidation]=" userPassword.dirty || userPassword.touched ||onClickValidation">
                </app-validation-message>
              </div>
            </div> -->


            <div class="register-action-container">
              <button mat-raised-button class="register-btn" aria-label="Continue"
                [ngClass]="{'disable-btn': !loginForm.form.valid}">
                <span>Register Now!</span>
              </button>
            </div>




            <div class="pre-register-bottom">
              <span>Save Time. Save Money.</span>
            </div>

            <div class="register-bottom">
              Free to sign up. Pay only when you file.
            </div>
          </form>
          <div class="terms-conditions-section">
            By clicking “Join now” you agree to our <a href="/terms-and-conditions" target="_blank"
              class="form-links">Terms
              and Conditions</a> and the <a href="/privacy-policy" target="_blank" class="form-links">Privacy
              Policy</a>.
          </div>
        </div>
      </div>
      <app-common-register-login-mobile-section></app-common-register-login-mobile-section>

      <div class="manage-bills-section only-mobile-view">
        <div class="heading">
          There's a smarter way to protect your brand:
        </div>
        <ul>
          <li>
            <b>Protect your name early—</b>register before someone else does and build brand ownership from day one.
          </li>
          <li>
            <b>Avoid rejection—</b>our smart checks detect similar trademarks before you file, reducing risk of
            objection.
          </li>
          <li>
            <b>Stay informed—</b>we track your application status and journal publications so you never miss an update.
          </li>
        </ul>
      </div>
    </div>
    <div class="testimonial-section" >
            <div class="container-xxl">
                <div class="testimonial-top-section">
                    <div class="testimonial-heading">
                        TESTIMONIALS
                    </div>
                    <div class="testimonial-sub-heading">
                        What Our Clients Say? 
                    </div>
                </div>
                <div class="content">
                    <ngx-slick-carousel class="carousel" 
                    #slickModal="slick-carousel" 
                    [config]="slideConfig" 
                    >
                    <div ngxSlickItem *ngFor="let testimonial of testimonials">
                        <div  class="testimonial" >
                            <blockquote>
                                {{testimonial.quote}}
                            </blockquote>
                            <div></div>
                            <p>
                                {{testimonial.author}} &mdash; {{testimonial.location}}
                            </p>
                        </div>
                    </div>
                    
                    </ngx-slick-carousel>
                </div>
            </div>
          
            
            
        </div>
        <div class="stats-banner" >
            <div class="container-xxl">
                <div class="row content">
                    <div class="stat col-xs-12 col-sm-4">
                        <div class="stat-content">
                            <div class="title" appCountUp [endValue]="1000" [suffix]="'+'">0+</div>
                            <div class="description">Registrations</div>
                        </div>
                    </div>
                    <div class="stat col-xs-12 col-sm-4">
                        <div class="stat-content">
                            <div class="title" appCountUp [endValue]="30" [suffix]="'+'">0+</div>
                            <div class="description">Years Of Experience</div>
                        </div>
                    </div>
                    <div class="stat col-xs-12 col-sm-4">
                            <div class="stat-content">
                                <div class="title" appCountUp [endValue]="100" [suffix]="'%'">0%</div>
                                <div class="description">Customer Satisfaction</div>
                            </div>
                        </div>
                    </div>
            </div>
           
        </div>
        <div class="hiw-section" >
            <div class="hiw-heading">Registration Process</div>
                    <app-vertical-stepper></app-vertical-stepper>
            
        </div>
        <div class="required-documents-section" >
            <div class="container-xxl">
                <h1>📄 Documents Required for Trademark Registration in India</h1>
                <div class="document-cards">
                    <div class="document-card-grid">
                        <div class="row gy-4">
                            <div class="col-12 col-sm-12 col-md-5 col-xl-4" *ngFor="let doc of documents">
                                <mat-card class="document-card"  appearance="outlined">
                                    <mat-card-header>
                                      <mat-card-title-group>
              
                                          <div mat-card-avatar class="doc-icon">
                                          <mat-icon>{{ doc.icon }}</mat-icon>
                                          </div>
                                          <mat-card-title>{{ doc.title }}</mat-card-title>
                                      </mat-card-title-group>
                                    </mat-card-header>
                                    <mat-card-content>
                                      <ul *ngIf="doc.points?.length">
                                        <li *ngFor="let point of doc.points">{{ point }}</li>
                                      </ul>
                                      <p *ngIf="doc.note"><strong>Note:</strong> {{ doc.note }}</p>
                                    </mat-card-content>
                                  </mat-card>
                            </div>
                         
                        </div>
                        
                      </div>
                      
                </div>
            </div>
            
        </div>
        <section class="call-us-section">
            <div class="content">
                <h1>Let's talk</h1>
                <p>Have questions about trademark registration, protecting your brand, or just not sure where to start?  Whether you're a startup, a growing business, or just exploring ideas, we'd love to hear from you. Let's build something that protects and elevates your brand.</p>
                <a type="button" class="btn btn-outline-primary call-us-btn" href="tel:+919878987497">Call 9878987497</a>

            </div>
        </section>
        <section class="home-faq-section">
            <app-faq></app-faq>
        </section>
  </div>

</div>
<a href="https://api.whatsapp.com/send?phone=9878987497&text=I%20want%20a%20trademark%20registration" class="whatsapp-button" target="_blank">
    <img src="/assets/images/whatsapp-icon.png" alt="whatsapp icon">
  </a>
  <a href="tel:+919878987497" class="call-button" (click)="trackCallToActionEvent()"
   >
  <img src="/assets/images/call-now-icon.png" alt="Call Button">
</a>
<app-footer></app-footer>