.app-toolbar{
    background-color: white ;
    color: #338bdf;
    justify-content: space-between;
        top: 0;
    box-shadow: -0.25rem 1.25rem 2.5rem #0000000f, 0 .125rem .625rem #0000001a;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 1001;
    .mobile-view-menu-icon{
        color: #fff;
    }
    .navbar-menu-actions{
        display: flex;
        gap: 1.25rem;
        .nav-bar-action{
            color: #fff;
            text-decoration: none;
            font-size: 16px;
            }
    }
}
.mobile-view-menu{
    border-radius: 0 !important;
    color: #fff;
    position: fixed;
    width: 100%;
    z-index: 1000;
    .mobile-menu-items{
        display: flex;
        flex-direction: column;
        gap:1.25rem;
        .mobile-menu-item{
            text-decoration: none;
            color: #fff;
        }
    }
    ::ng-deep{
        
        .mat-expansion-panel-body{
            background-color: #338bdf;
            padding: 1.625rem 1.5rem 1rem 1.5rem;
        }   
    }
}
