.terms-conditions-body{
    .terms-conditions{
        padding:3rem 0;
        font-size: 1rem;
        h3{
            font-size: 1.5rem;
        }
        p{
            font-size: 1.1rem;
            line-height: 2rem;
        }
    }
}