<nav class="navbar">
        <div class="container">
            <div class="logo">
                <img src="/assets/images/trademarx.svg" alt="Company Logo">
            </div>
            <ul class="nav-links">
                <li><a routerLink="/home">Home</a></li>
                <!-- <li><a href="#">Services</a></li> -->
                <li><a routerLink="/trademark">Trademark</a></li>
                <li><a routerLink="/iso/iso-9001-2015">ISO</a></li> 
                <li><a routerLink="/blogs">Articles</a></li>
                <li><a routerLink="/about-us">About</a></li>
                <li><a routerLink="/create-account">Create Account</a></li>
                <li><a routerLink="/login">Login</a></li>
            </ul>
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </nav>