<div class="background">
    <div class="container">
      <div class="panel pricing-table">
        
        <div class="pricing-plan">
          <img src="https://s22.postimg.cc/8mv5gn7w1/paper-plane.png" alt="" class="pricing-img">
          <h2 class="pricing-header">STARTER</h2>
          <ul class="pricing-features">
            <li class="pricing-features-item">
                <mat-icon>check_circle</mat-icon>
                <span>Trademark Application Filing</span>
            </li>
            <li class="pricing-features-item">
                <mat-icon>check_circle</mat-icon>
                <span>Trademark Search Report</span>
            </li>
            <li class="pricing-features-item">
                <mat-icon>check_circle</mat-icon>
                <span>Right to Use <span class="tm-symbol">™</span> Symbol with Your Brand</span>
            </li>
            <li class="pricing-features-item">
                <mat-icon>check_circle</mat-icon>
                <span>Support via Call, Chat & Email</span>
            </li>
          </ul>
          <span class="pricing-price">₹999</span>
          <span class="govt-fees-text">+ Govt Fees</span>
          <a href="#" (click)="setSelectedPlan('BASIC')" class="pricing-button is-featured">Get Started!</a>
        </div>
        
        <div class="pricing-plan">
          <img src="https://s28.postimg.cc/ju5bnc3x9/plane.png" alt="" class="pricing-img">
          <h2 class="pricing-header">BUILDER </h2>
          <ul class="pricing-features">
            <li class="pricing-features-item">
                <mat-icon>check_circle</mat-icon>
                <span>Trademark Application Filing</span>
            </li>
            <li class="pricing-features-item">
                <mat-icon>check_circle</mat-icon>
                <span>Trademark Search Report</span>
            </li>
            <li class="pricing-features-item">
                <mat-icon>check_circle</mat-icon>
                <span>Right to Use <span class="tm-symbol">™</span> Symbol with Your Brand</span>
            </li>
            <li class="pricing-features-item">
                <mat-icon>check_circle</mat-icon>
                <span>Support via Call, Chat & Email</span>
            </li>
            <li class="pricing-features-item">
                <mat-icon>check_circle</mat-icon>
                <span>Professional Logo Design</span>
            </li>
          </ul>
          <span class="pricing-price">₹2999</span>
          <span class="govt-fees-text">+ Govt Fees</span>
          <a href="#" (click)="setSelectedPlan('BUILDER')" class="pricing-button is-featured">Get Started!</a>
        </div>
        
        <div class="pricing-plan">
          <img src="https://s21.postimg.cc/tpm0cge4n/space-ship.png" alt="" class="pricing-img">
          <h2 class="pricing-header">PRO BRAND</h2>
          <ul class="pricing-features">
            <li class="pricing-features-item">
                <mat-icon>check_circle</mat-icon>
                <span>Trademark Application Filing</span>
            </li>
            <li class="pricing-features-item">
                <mat-icon>check_circle</mat-icon>
                <span>Trademark Search Report</span>
            </li>
            <li class="pricing-features-item">
                <mat-icon>check_circle</mat-icon>
                <span>Right to Use <span class="tm-symbol">™</span> Symbol with Your Brand</span>
            </li>
            <li class="pricing-features-item">
                <mat-icon>check_circle</mat-icon>
                <span>Support via Call, Chat & Email</span>
            </li>
            <li class="pricing-features-item">
                <mat-icon>check_circle</mat-icon>
                <span>Professional Logo Design</span>
            </li>
            <li class="pricing-features-item">
                <mat-icon>check_circle</mat-icon>
                <span>Udyam Registration (MSME Certificate)</span>
            </li>
          </ul>
          <span class="pricing-price">₹4999</span>
          <span class="govt-fees-text">+ Govt Fees</span>
          <a href="#" (click)="setSelectedPlan('PROFESSIONAL')" class="pricing-button is-featured">Get Started!</a>
        </div>
        
      </div>
    </div>
  </div>