  .background {
	padding: 0 25px 25px;
	position: relative;
	width: 100%;
	background-color: #f5f8fc;
  }
  
  .background::after {
	content: '';
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#338bdf', endColorstr='#4394f4',GradientType=0 );
	background-color: transparent;
	height: 350px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
  }
  
  @media (min-width: 900px) {
	.background {
	  padding: 0 0 25px;
	}
  }
  
  .container {
	margin: 0 auto;
	padding: 50px 0 0;
	h1.heading {
		padding: 60px 0 20px 0;
		color: #273653;
		font-size: 48px;
		font-weight: bold;
		letter-spacing: -1px;
		line-height: 4.8rem;
		margin-bottom: 5.6rem;
		text-align: center;
	}
  }
  
  .panel {
	background-color: #fff;
	border-radius: 10px;
	padding: 15px 25px;
	position: relative;
	width: 100%;
	z-index: 10;
  }
  
  .pricing-table {
	display: flex;
	flex-direction: column;
	background-color: transparent;
	gap:10px;
  }
  
  @media (min-width: 900px) {
	.pricing-table {
	  flex-direction: row;
	}
  }
  
  .pricing-table * {
	text-align: center;
  }
  
  .pricing-plan {
	border-bottom: 1px solid #e1f1ff;
	padding: 25px;
	background-color: #fff;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	border-radius: 20px;
	.popular-plan-container{
		height: 30px;
	}
	&.popular-plan{
		border:2px solid #0039d6;
		position: relative;
		.popular-plan-section{
			background-color: #ef9d00;
			padding: 5px 10px;
			font-size: 16px;
			font-weight: 400;
			color: #fff;
			max-width: fit-content;
			margin: 0 auto;
			border-radius: 10px;
			letter-spacing: 0;
		}
		.pricing-button{
			background-color: #ef9d00;
			border: none;

		}
	}
  }
  
  .pricing-plan:last-child {
	border-bottom: none;
  }
  
  @media (min-width: 900px) {
	.pricing-plan {
	  border-bottom: none;
	  border-right: 1px solid #e1f1ff;
	  flex-basis: 100%;
	  padding: 25px;
	}
  
	.pricing-plan:last-child {
	  border-right: none;
	}
  }
  
  .pricing-img {
	margin-bottom: 25px;
	max-width: 100%;
  }
  
  .pricing-header {
	color: #273653;
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 25px;
  }
  
  .pricing-features {
	color: #338bdf;
	font-weight: 600;
	letter-spacing: 1px;
	min-height: 380px;
	list-style:none;
  }
  
  .pricing-features-item {
	border-top: 1px solid #e1f1ff;
	font-size: 14px;
	line-height: 1.5;
	padding: 10px 0;
	color:#273653;
	display: flex;
	align-items:center;
	gap: 10px;
	.mat-icon{
		color: #54ae7d;
		min-width: fit-content;
	}
	span{
		text-align: left !important;
	}
	.tm-symbol{
		font-size: 26px;
	}
}
  
  .pricing-features-item:last-child {
	border-bottom: 1px solid #e1f1ff;
  }
  
  .pricing-price {
	color: #016FF9;
	display: block;
	font-size: 32px;
	font-weight: 700;
  }
  .govt-fees-text{
	display: block;
	font-size: 11px;
  }
  
  .pricing-button {
	border: 1px solid #9dd1ff;
	border-radius: 10px;
	color: #348EFE;
	display: inline-block;
	margin: 25px 0;
	padding: 15px 35px;
	text-decoration: none;
	transition: all 150ms ease-in-out;
  }
  
  .pricing-button:hover,
  .pricing-button:focus {
	background-color: #e1f1ff;
  }
  
  .pricing-button.is-featured {
	background-color: #338bdf;
	color: #fff;
  }
  
  .pricing-button.is-featured:hover,
  .pricing-button.is-featured:active {
	background-color: #338bdf;
  }

  @media screen and (max-width:576px) {
	.background{
		padding:25px 10px;
		.container{
			.pricing-plan{
				padding: 20px 0;
				.pricing-features{
					padding-left: 0;
					min-height: 0;
				}
			}
			h1.heading{
				font-size: 20px;
				margin-bottom: 10px;
				letter-spacing: 4px;
			}
		}
	}
	.pricing-table{
		gap:30px;
		
	}
	.panel{
		padding:10px 5px;
	}
	.pricing-features-item{
		padding-left: 5px;
		.mat-icon{

		}
	}
	
  }
