<app-top-header></app-top-header>
<app-navbar-v2></app-navbar-v2>
<section class="blog-listing gray-bg">
    <div class="container">
        <div class="row items-start">
            <div class="col-lg-8 m-15px-tb">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-xl-4" *ngFor="let blog of blogs?.data">
                        <div class="blog-grid">
                            <div class="blog-img">
                                <div class="date">
                                    <span>{{blog.createdAt?.format('DD')}}</span>
                                    <label>{{blog.createdAt?.format('MMM')}}</label>
                                </div>
                                <a [routerLink]="'/blogs/'+blog.slug">
                                    <img  [src]="blogBaseUrl+ blog.featuredImage?.formats?.thumbnail?.url" title="" alt="">
                                </a>
                            </div>
                            <div class="blog-info">
                                <h5><a [routerLink]="'/blogs/'+blog.slug">{{blog.title}}</a></h5>
                                <div class="blog-meta">
                                    <span class="author">{{blog.author}}</span>
                                    <span class="divider">•</span>
                                    <span class="date">{{blog.createdAt?.format("DD MM YYYY")}}</span>
                                    <span class="divider">•</span>
                                    <span class="category">{{blog.category}}</span>
                                </div>
                                <p>{{blog.excerpt}}</p>
                                <div class="btn-bar">
                                    <a [routerLink]="'/blogs/'+blog.slug" class="px-btn-arrow">
                                        <span>Read More</span>
                                        <i class="arrow"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <ul class="flex items-center justify-center gap-1" *ngIf="totalPages > 1">

                            <!-- Previous -->
                            <li [class.opacity-50]="currentPage === 1" [class.pointer-events-none]="currentPage === 1">
                                <a [routerLink]="['/blogs']" [queryParams]="{ page: currentPage - 1 }"
                                    class="flex items-center justify-center w-9 h-9 rounded-lg border border-gray-200 hover:bg-gray-100 transition-colors">
                                    <i class="fas fa-chevron-left text-sm"></i>
                                </a>
                            </li>

                            <!-- Page numbers -->
                            <li *ngFor="let page of pages">
                                <a [routerLink]="['/blogs']" [queryParams]="{ page: page }"
                                    [class]="page === currentPage 
         ? 'flex items-center justify-center w-9 h-9 rounded-lg bg-blue-600 text-white font-medium text-sm'
         : 'flex items-center justify-center w-9 h-9 rounded-lg border border-gray-200 hover:bg-gray-100 text-sm transition-colors'">
                                    {{ page }}
                                </a>
                            </li>

                            <!-- Next -->
                            <li [class.opacity-50]="currentPage === totalPages"
                                [class.pointer-events-none]="currentPage === totalPages">
                                <a [routerLink]="['/blogs']" [queryParams]="{ page: currentPage + 1 }"
                                    class="flex items-center justify-center w-9 h-9 rounded-lg border border-gray-200 hover:bg-gray-100 transition-colors">
                                    <i class="fas fa-chevron-right text-sm"></i>
                                </a>
                            </li>

                        </ul>

                    </div>
                </div>
            </div>

            <div class="col-lg-4 m-15px-tb blog-aside">



                <!-- Latest Post -->
                <app-recent-posts></app-recent-posts>

                <!-- End Latest Post -->

                <!-- widget Tags -->
                <!-- <div class="widget widget-tags">
                    <div class="widget-title">
                        <h3>Latest Tags</h3>
                    </div>
                    <div class="widget-body">
                        <div class="nav tag-cloud">
                            <a href="#">Design</a>
                            <a href="#">Development</a>
                            <a href="#">Travel</a>
                            <a href="#">Web Design</a>
                            <a href="#">Marketing</a>
                            <a href="#">Research</a>
                            <a href="#">Managment</a>
                        </div>
                    </div>
                </div> -->
                <!-- End widget Tags -->
            </div>
        </div>
    </div>
</section>

<app-footer-v2></app-footer-v2>