      <div class="only-mobile-view mobile-view-bottom-section">
        <div class="services-grid">
            <a routerLink="/trademark">
                <div class="service-card">
                            <img src="/assets/images/icons/trademark-icon.svg" alt="Trademark Icon">
                                <h3>Trademark Filing</h3>
                                <p>Affordable Trademark Filing At just ₹6499.</p>
                            </div>
            </a>
            
            <a routerLink="/iso/iso-9001-2015">
                <div class="service-card">
                    <img src="/assets/images/icons/iso-icon.svg" alt="ISO Icon">
                    <h3>ISO Certifications</h3>
                    <p>ISO Standards starting at just ₹1499</p>

                </div>
                
            </a>
            <div class="service-card">
                <img src="/assets/images/icons/import-export-icon.svg" alt="Aeroplane Icon">
                <h3>Import Export Code (IEC)</h3>
                <p>IEC Code Certificate at just ₹1499</p>
            </div>
            <div class="service-card">
                <img src="/assets/images/icons/msme-icon.svg" alt="MSME Icon">
                <h3>MSME Registration</h3>
                <p>Udyam/MSME Certificate at just ₹499</p>
            </div>
        </div>
        <div class="feature-condition-section only-mobile-view">
          Trusted by 1000+ startups and small businesses across India.
        </div>

      </div>