.add-tm-name-slogan-logo-class-section{
    max-width: 100%;
    .add-tm-name-slogan-logo-class-heading-content{
        margin-bottom: 48px;
        h1{
            font-size: 24px;
            margin-bottom: .25rem;
            font-weight: 600;
        }
        p{
            font-size: .875rem;
        }
    }
    .form-section{
        .form-input-container{
            margin-bottom: 1.875rem;
            label{
                margin-bottom: 10px;
            }
            .upload-logo-section{
        
                input[type="file"] {
                    display: block;
                    width: 100%;
                    margin: auto;
                    padding: 1.5em;
                    border: 2px dashed #bbb;
                    background-color: #fff;
                    transition: border-color .25s ease-in-out;
                    &::file-selector-button{
                    padding: 1em 1.5em;
                    border-width: 0;
                    border-radius: 2em;
                    background-color: hsl(210 70% 30%);
                    color: hsl(210 40% 90%);
                    transition: all .25s ease-in-out;
                    cursor: pointer;
                    margin-right: 1em;
                    }
                    &:hover {
                    border-color: #888;
                    
                    &::file-selector-button{
                    
                    background-color: hsl(210 70% 40%);
                    }
                    }
                }
                .img-wrap{
                    position: relative;
                    display: inline-block;
                    &:hover{
                        .clear-btn{
                            opacity: 100%;
                        }
                    }
                    .logo-img{
                        min-width: 100px;
                        max-width: 12.5rem;
                    }
                    .clear-btn{
                          position: absolute;
                            top: 0;
                            right: 0;
                            opacity: 0;
                            transition: all .25s ease-in-out;
                            padding: 4px;
                            display: flex;
                    }
                }
                
                .form-text{
                    font-size: 1rem;
                    .close-icon{
                        font-size: 1rem;
                        height: 1rem;
                        width: 1rem;
                    }
                }
                
              
                }
        }   

    }

}
::ng-deep{
    mat-form-field{
        background-color: #fff !important;
    }
    .mat-mdc-form-field-bottom-align{
        background-color: #f4f6f8;
    }
}