<section class="add-tm-name-slogan-logo-class-section">
    <div class="container-xxl">
        <div class="row">
            <div class="col col-12 col-sm-12 col-lg-7">
                <section>
                    <div class="add-tm-name-slogan-logo-class-heading-content">
                        <h1>Brand Details</h1>
                        <p>Details about your trademark</p>
                    </div>
                </section>
                <section class="form-section">
                    <form (ngSubmit)="submit()" [formGroup]="trademarkDetailsForm"
                            [ngClass]="{'submitted': onClickValidation}"
                            >
                            <div class=" form-input-container  mat-density-3" *ngIf="this.trademarkType === TrademarkTypeEnum.TRADEMARK || this.trademarkType === TrademarkTypeEnum.TRADEMARK_WITH_IMAGE || this.trademarkType === TrademarkTypeEnum.ALL">
                                <label for="trademark">Enter your brand name you want to protect:</label>
                                <mat-form-field appearance="outline" class="w-100" [hideRequiredMarker]="true">
                                    <input matInput placeholder="Enter brand name" name="trademark" #trademark
                                        formControlName="trademark" required>
                                    <mat-error *ngIf="trademarkDetailsForm.get('trademark')?.hasError('required') && onClickValidation">
                                        Brand name is required
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="form-input-container" *ngIf="this.trademarkType === TrademarkTypeEnum.IMAGEMARK || this.trademarkType === TrademarkTypeEnum.TRADEMARK_WITH_IMAGE|| this.trademarkType === TrademarkTypeEnum.ALL">
                                <div class="upload-logo-section">
                                    <label for="trademarkLogo">Upload the logo you want to trademark:
                                    </label>
                                    <div>
                                    <input type="file" name="trademarkLogo"  accept=".png, .jpg, .jpeg, .svg" (change)="onFileSelected($event)" required>
                                    <div class="text-danger" *ngIf="trademarkDetailsForm.get('trademarkLogo')?.hasError('required') && onClickValidation">
                                        Logo is required
                                    </div>
                                    </div>
                                </div>

                            </div>
                            <div class=" form-input-container mat-density-3 " *ngIf="TrademarkTypeEnum.SLOGAN|| this.trademarkType === TrademarkTypeEnum.ALL">
                                <label for="trademarkSlogan">Enter the slogan you want to protect:</label>
                                <mat-form-field appearance="outline" class="w-100" [hideRequiredMarker]="true">
                                    <input matInput placeholder="Enter slogan name" name="trademarkSlogan" #trademarkSlogan
                                        formControlName="trademarkSlogan" required>
                                    <mat-error *ngIf="trademarkDetailsForm.get('trademarkSlogan')?.hasError('required') && onClickValidation">
                                        Slogan is required
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </form>
                        <app-trademark-onboarding-btn-section
                        [showSkipBtn]="true"
                        (skipEvent)="skip()" 
                        [isSubmitting]="isSubmitting" (buttonClick)="submit()"></app-trademark-onboarding-btn-section>                
                        
                </section>
            </div>
            <div class="col col-12 col-sm-12  col-lg-5"></div>

        </div>
    </div>
    
</section>