#loading{
    display: none;
}
.toast-top-center,
.toast-top-right,
.toast-top-left,
.toast-top-full-width {
  top: 1.25rem !important;
  position: fixed !important;
  z-index: 9999 !important;
  margin-bottom: 1.25rem !important ;
}
