.toast-top-center,
.toast-top-right,
.toast-top-left,
.toast-top-full-width {
  top: 1.25rem !important;
  position: fixed !important;
  z-index: 9999 !important;
  margin-bottom: 1.25rem !important ;
}
body{
  padding-top: 4rem;
}
.loading-container {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 999999999;
  top: 0;

  .loader-inner-container {
    width: 80px;
    height: 80px;
    border-radius: 12px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loader {
    margin: 0px auto;
  }

  svg {
    border-radius: 50%;
  }
}
.text-wrap-normal {
  white-space: normal !important;
} 
.text-right {
  text-align: right !important;
}
.white-space-no-wrap{
  white-space:nowrap;
}

.line-height-0-6{
  line-height:0.6 !important;
}

.float-right{
  float:right !important;
}

.only-mobile-view {
    display: none;
}
@media screen and (max-width:1200px) {
  .only-mobile-view {
      display: block;
    }
    .site-page-body{
      padding-top: 40px !important;
    }
}