.toast-top-center,
.toast-top-right,
.toast-top-left,
.toast-top-full-width {
  top: 1.25rem !important;
  position: fixed !important;
  z-index: 9999 !important;
  margin-bottom: 1.25rem !important;
}

body {
  padding-top: 4rem;
}

.loading-container {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 999999999;
  top: 0;

  .loader-inner-container {
    width: 80px;
    height: 80px;
    border-radius: 12px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loader {
    margin: 0px auto;
  }

  svg {
    border-radius: 50%;
  }
}

.text-wrap-normal {
  white-space: normal !important;
}

.text-right {
  text-align: right !important;
}

.white-space-no-wrap {
  white-space: nowrap;
}

.line-height-0-6 {
  line-height: 0.6 !important;
}

.float-right {
  float: right !important;
}

.only-mobile-view {
  display: none;
}

@media screen and (max-width:1200px) {
  .only-mobile-view {
    display: block;
  }

  .site-page-body {
    padding-top: 40px !important;
  }
}

.sidenav-closed {
  .mat-drawer-content {
    margin-left: 0 !important;
    width: 100% !important;
  }
}

.mat-mdc-form-field {
  --mdc-shape-small: 25px;
  --mdc-shape-small: 12px;
  /* Border radius */
  --mat-form-field-container-height: 30px;

}

label {
  color: var(--Black, #202020);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.028px;
  margin-bottom: 10px;

  &.form-labels {
    display: block;
  }
}

.site-form-field-container {
  .mat-form-field-appearance-outline {
    width: 100% !important;
  }

  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }

  .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding-top: 10px;
  }

  .mat-mdc-text-field-wrapper {
    height: 44px;
  }

  .mat-mdc-form-field-icon-suffix>.mat-icon {
    padding: 0 12px 12px;
  }

}

.text-area {
  .mat-mdc-text-field-wrapper {
    height: auto !important;
  }
}

.website-btn {
  display: block !important;
  padding: 10px 12px !important;
  border-radius: 50px !important;
  background: var(--Blue-900, #001F4D) !important;
  color: #FFFFFF !important;
  width: 50% !important;
  text-align: center !important;
  font-size: 19px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  letter-spacing: -0.038px !important;
  height: 55px !important;
  margin-bottom: 16px !important;
}

.mat-mdc-form-field.mat-focused {
  --mdc-outlined-text-field-focus-outline-color: #1976d2; // outline
  --mdc-outlined-text-field-focus-label-color: #1976d2; // label
  --mdc-filled-text-field-focus-active-indicator-color: #1976d2;
}

.mat-mdc-form-field.mat-form-field-disabled {
  --mdc-outlined-text-field-disabled-outline-color: #bdbdbdbe;
  --mdc-filled-text-field-disabled-active-indicator-color: #bdbdbdbe;
  --mdc-outlined-text-field-disabled-label-color: #9e9e9e;
}

.whatsapp-button {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 1000;

  img {
    width: 50px;
    height: 50px;
  }
}

.call-button {
  z-index: 1000;
  position: fixed;
  right: 15px;
  bottom: 80px;

  img {
    width: 45px;
    height: 45px;
  }
}

.grecaptcha-badge {
  visibility: hidden !important;
}
.features{
  .feature{
      display: flex;
      align-items: center;
      font-size: 1.125rem;
      gap: 0.3125rem;
      margin-bottom: 0.625rem;
  }
}
            .trust-section{
                margin-top: 1.875rem;
                display: flex;
                align-items: center;
                .stars{
                    display: flex;
                    gap: 0.1875rem;
                    .star-icons{
                        width: 1.25rem;
                    }
                }
                .content{
                    font-weight: 600;
                    line-height: 120%;
                    font-size: 1.375rem;
                }
            }
@media (max-width:576px) {
  .features {
    text-align: center;

    .feature {
      font-size: 15px;

      .mat-icon {
        font-size: 12px;
        width: 12px;
        height: 12px;
      }
    }
  }
}