.home-page{
    .top-section{
        .cta-section-wrapper{
            background-color:#001F4D;
        }
        .cta-section{
            margin: 0 auto;
            color:#fff;
            padding: 0 1.25rem;
            .landing-bg-img{
                z-index: -1;
                position: absolute;
                left: 0;
                right: 0;
            }

            .cta-text-section{
                max-width: 26.875rem;
                h1.main-heading{
                    font-size: 2.25rem;
                    font-weight: 600;
                    line-height: 120%;
                }
                .features{
                    .feature{
                        display: flex;
                        align-items: center;
                        font-size: 1.125rem;
                        gap: 0.3125rem;
                        margin-bottom: 0.625rem;
                    }
                }
               
                
            }
            .cta-form-section{
                background-image: url('/assets/images/cta-form-bg-img.png');
                background-size: contain;
                background-repeat: no-repeat;
                display: flex;
                justify-content: flex-end;
                position: relative;
                > div{
                    max-width: 26.25rem;
                    position: absolute;
                    top: 6.25rem;
                    flex-grow: 1;
                    .cta-form-call-now{
                        font-size:1.25rem;
                        text-align: center;
                        .call-now{
                            color:#fff;
                            font-weight: 600;
                            margin-top: 1.25rem;


                        }
                    }
                }
                .cta-form{
                    background-color: #fff;
                    border-radius: 1.6rem;
                    height: max-content;
                    padding: 1.25rem 1.875rem;
                    text-align: center;
                    overflow: hidden;

                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    .form-input-container{
                        margin-bottom: 1.25rem;
                    }
                    .form-heading-section{
                        color: #273653;
                        text-align: center;
                        .form-heading{
                            font-size: 1.75rem;
                            font-weight: 700;
                        }
                    }
                    .cta-submit-btn{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        min-width: 7.5rem;
                        border-radius: 0.625rem;
                        font-size: 1.25rem;
                        padding: 1.25rem;
                        text-align: center;
                        width: 100%;
                        mat-spinner {
                            margin: 0 auto;
                        }
                        span {
                            margin: 0 auto;
                        }
                    }
                }
            }
            
        }
        .benefits-section-wrapper{
            max-width: 87.5rem;
            margin: 0 auto;
            padding-bottom: 15rem;
        }
        .benefits-section{
            display: flex;
            padding: 1.25rem;
            flex-wrap: wrap;
            .benefit{
                display: flex;
                align-items: center;
                gap: 0.3125rem;
                .content{
                    display: flex;
                    flex-direction: column;
                    font-weight: 500;
                }
                .mat-icon{
                    color: #001F4D;
                    width: 3.125rem;
                    height: 3.125rem;
                    font-size: 3.125rem;
                }
            }
        }
        .testimonial-section{
            background-color: #F2F8FE;
            padding: 3.75rem;
            .testimonial-top-section{
                text-align: center;
                .testimonial-heading{
                    color: #001F4D;
                    font-size: 1.0625rem;
                    font-weight: bold;
                    letter-spacing: 0.1875rem;
                    line-height: 1.6rem;
                    margin-bottom: 1.25rem;
                    text-transform: uppercase;
                }
                .testimonial-sub-heading{
                    color: #273653;
                    font-size: 3rem;
                    font-weight: bold;
                    letter-spacing: -0.0625rem;
                    line-height: 4.8rem;
                    margin-bottom: 5.6rem;
                }
            }
            .content {
                .testimonial{
                    blockquote{
                        cursor: pointer;
                        margin: 0.625rem 0.625rem 0;
                        background: #efefef;
                        padding: 1.25rem 3.75rem;
                        position: relative;
                        border: none;
                        border-radius: 0.5rem;
                        font-style: italic;
                        height: 6.25rem;
                        &:before, &:after{
                            content: "\201C";
                            position: absolute;
                            font-size: 5rem;
                            line-height: 1;
                            color: #757f9a;
                            font-style: normal;
                        }
                        &:before{
                            top: 0;
                            left: 0.625rem;
                        }
                        &:after{
                            content: "\201D";
                            right: 0.625rem;
                            bottom: -0.5em;
                        }
                    }
                    div{
                        width: 0;
                        height: 0;
                        border-left: 0 solid transparent;
                        border-right: 1.25rem solid transparent;
                        border-top: 1.25rem solid #efefef;
                        margin: 0 0 0 3.75rem;
                    }
                    p{
                        margin: 0.5rem 0 0 1.25rem;
                        text-align: left;
                        color: #001F4D;
                    }
                }
            }
        }

        .stats-banner{
            background-color: #001F4D;
            padding: 60px 120px;
            .stat-content{
                color: #fff;
                text-align: center;
                .title{
                    font-size: 50px;
                    font-weight: bold;
                    letter-spacing: -0.06rem;
                    line-height: 120%;
                }
                .description{
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 2.4rem;
                }
            }
        }
        .hiw-section{
            padding:60px;
            .hiw-heading{
                color: #273653;
                font-size: 48px;
                font-weight: bold;
                letter-spacing: -1px;
                line-height: 4.8rem;
                margin-bottom: 5.6rem;
                text-align: center;
                
            }
        }
        .required-documents-section{
            padding: 60px;
            background-color: #F2F8FE;
            h1 {
                text-align: center;
                margin-bottom: 40px;
                font-size: 32px;
                font-weight: 600;
            }
            .document-cards {
                .document-card-grid {
                    .document-card {
                        margin-bottom: 20px;
                        height: 100%;
                        border-radius: 25px;
                        
                        mat-card-header {
                            .doc-icon {
                                background: #001F4D;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                
                                mat-icon {
                                    color: white;
                                }
                            }
                            
                            mat-card-title {
                                font-size: 18px;
                                font-weight: 600;
                                margin-bottom: 16px;
                            }
                        }
                        
                        mat-card-content {
                            ul {
                                padding-left: 20px;
                                
                                li {
                                    margin-bottom: 8px;
                                    line-height: 1.5;
                                }
                            }
                            
                            p {
                                margin-top: 16px;
                                font-size: 14px;
                                
                                strong {
                                    color: #001F4D;
                                }
                            }
                        }
                    }
                }
            }
            
        }
        .pricing-section{
            background-color: #fff;
            h1 {
                padding: 60px 0 20px 0;
                text-align: center;
                font-size: 32px;
                font-weight: 600;
            }
        }
    }
    .call-us-section{
        border-radius: 2rem;
        padding: 10rem;
        z-index: 2;
        position: relative;
        background-image: url(/assets/images/call-us-bg.jpg);
        max-width: 1200px;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        .content{ 
            color:#FFF;
            max-width: 60%;
            h1{
                font-size: 50px;
                font-weight: 700;
            }
            p{
                font-size: 19px;
                line-height: 150%;
                margin-top: 2.6rem;
            }
            .call-us-btn{
                margin-top: 70px;
                border: 2px solid #fff;
                color: #fff;
                font-weight: 700;
                font-size: 20px;
                padding: 10px 30px;
                display: inline-block;
                &:hover{
                    background-color:transparent;
                }
            }
        }
    }
}



::ng-deep{
    .mat-mdc-form-field-bottom-align{
        max-height: 15px;
    }
    .form-toolbar{
        background-color: #001F4D !important;
        .mat-mdc-form-field {
            .mat-mdc-text-field-wrapper {
                padding: 0 12px;
                background-color: #fff;
                height: 40px;
                border-radius: 4px;
            }
    
            .mat-mdc-form-field-flex {
                height: 100%;
                align-items: center;
            }
            .mat-mdc-form-field-bottom-align {
                display: none;
            }
    
            .mat-mdc-form-field-subscript-wrapper {
                margin-top: 0;
            }
    
            // Adjust icon size and position
            .mat-icon {
                width: 20px;
                height: 20px;
                font-size: 20px;
                margin-right: 8px;
            }
            .mat-mdc-form-field-infix{
                    padding-top: 0;
                    padding-bottom: 0;
                    height: 100%;
                    display: flex;
            }
            
        }
    }
    .cta-form-section{
        .mat-mdc-form-field-subscript-wrapper {
            display: none;
        }
    }
    // Custom form field styles
    .mdc-button__label{
        display: flex;
        align-items: center;
        gap:5px;
        justify-content: center;
    }
   
}

.form-toolbar {
    opacity: 0;
  position: absolute;
  z-index: 1000;
  padding: 0;
  top:-100px;
  background-color: #001F4D !important;
  transition: top 1s linear 0;

  &.fixed-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    min-height: 80px;
    opacity: 1;
  }
  .nav-form{
    display: flex;
    gap: 10px;
    width: 100%;
    max-width: 100%;
    align-items: center;
    padding:0 10px;
    justify-content: center;
    .form-input-container{
        width: 20%;
    }
    .cta-submit-btn{
        background-color: white;
        color: #001F4D;
    }
    
}
}



@media (max-width:576px) {
    .home-page{
        .top-section{
            .cta-section{
                padding: 10px 0 ;
                .cta-text-section{
                    h1.main-heading{
                        font-size: 20px;
                    }
                    .features{
                        text-align: center;
                        .feature{
                            font-size: 15px;
                            .mat-icon{
                                font-size: 12px;
                                width: 12px;
                                height: 12px;
                            } 
                        }
                    }
                    .trust-section{
                        flex-direction: column;
                        text-align: center;
                        align-items: center;
                        gap: 10px;
                        .content{
                            font-size: 18px;
                            font-weight: 400;
                            line-height: 120%;
                        }
                    }
                }
                .cta-form-section{
                    justify-content: center;
                    background-image: none;
                    > div{
                        position: static;
                    }
                    .cta-form{
                        padding:20px 10px;
                        flex-grow: 1;
                        position: static;
                        .form-heading-section{
                            .form-heading{
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
            .testimonial-section{
                padding:60px 0;
                .testimonial-top-section{
                        .testimonial-sub-heading{
                            font-size: 30px;
                            margin-bottom:20px;
                        }
                        
                        
                }
                .content{
                    .testimonial{
                        
                        blockquote{
                            padding:20px;
                            &:before, &:after{
                                font-size: 40px;
                            }
                        }
                    }
                }
            }
            .hiw-section{
                padding:10px !important;
                .hiw-heading{
                    font-size: 20px;
    				margin-bottom: 10px;
	    			letter-spacing: 4px;
                }
            }
            .stats-banner{
                padding:70px 0;
                .content{
                    gap:50px;
                    .stat-content{
                        .description{
                            font-size: 16px;
                        }
                    }
                }
            }
            .required-documents-section{
                padding:10px;
                h1{
                    font-size: 20px;
                }
            }
            .pricing-section{
                h1{
                    font-size: 24px;
                }
                
            }
            
        }
        .call-us-section{
            padding:100px 20px 30px 20px ;
            margin:10px;
            background-image: url("/assets/images/call-us-mobile-bg.jpg");
            .content{
                max-width: 100%;
                h1{
                    font-size: 40px;
                }
                p{
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 140%;
                }
                .call-us-btn{
                    margin-top: 35px;
                    background-color: #fff;
                    color:#273653;
                    font-size: 20px;
                }
            }
        }
    }
}
@media (max-width:768px) {
    .form-toolbar{
        display: none;
    }
    .cta-form-section > div{
        position: static !important; 

    }
    .cta-form{
        position: static !important; 
    }
    .benefits-section-wrapper{
        padding-bottom: 6.25rem !important;
        }
}

@media (max-width:991px){
    .benefits-section-wrapper{
        padding-bottom: 6.25rem !important;
        .content{
            display: block !important; 
        }
    }
}

@keyframes blink{
0%{opacity: 0;}
50%{opacity: .5;}
100%{opacity: 1;}
}