.btn-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6.25rem;
    .previous-btn{
        background-color: transparent;
        color:#696969;
        box-shadow: none;
    }
    
    .next-btn {
            display: block;
            padding: 10px 12px;
            border-radius: 50px;
            background: var(--Blue-900, #001F4D);
            box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
            ;
            color: #FFFFFF;
            width: 50%;
            text-align: center;
            font-size: 19px;
            font-style: normal;
            font-weight: 700;
            letter-spacing: -0.038px;
            height: 55px;
            margin-bottom: 16px;
          }
}

@media screen and (max-width:36rem) {
    .btn-section{
        margin-top: 0 !important;
    }
}