<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Applications Filed</h6>
                    <h2 class="text-right"><i class="fa fa-cart-plus f-left"></i><span>486</span></h2>
                    <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Documents Uploaded</h6>
                    <h2 class="text-right"><i class="fa fa-rocket f-left"></i><span>486</span></h2>
                    <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
                </div>
            </div>
        </div>

        
    </div>
</div>
<div class="my-trademark-section">
    <div class="container">
    <div class="row flex-lg-nowrap">


        <div class="col">

            <div class="row flex-lg-nowrap">
                <div class="col mb-3">
                    <div class="e-panel card">
                        <div class="card-body">
                            <div class="card-title">
                            </div>
                            <div class="e-table">
                                <div class="table-responsive table-lg mt-3">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                
                                                <th></th>
                                                <th class="max-width">Trademark</th>
                                                <th class="sortable">Date</th>
                                                <th>Status </th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr>
                                                
                                                <td class="align-middle text-center">
                                                    <div class="bg-light d-inline-flex justify-content-center align-items-center align-top"
                                                        style="width: 35px; height: 35px; border-radius: 3px;"><i
                                                            class="fa fa-fw fa-photo" style="opacity: 0.8;"></i></div>
                                                </td>
                                                <td class="text-nowrap align-middle">Dorothea Joicey</td>
                                                <td class="text-nowrap align-middle"><span>12 Dec 2017</span></td>
                                                <td class="text-center align-middle"><i
                                                        class="fa fa-fw text-secondary cursor-pointer fa-toggle-on"></i>
                                                </td>
                                                <td class="text-center align-middle">
                                                    <div class="btn-group align-top">
                                                        <button class="btn btn-sm btn-outline-secondary badge"
                                                            type="button" data-toggle="modal"
                                                            data-target="#user-form-modal">View</button>
                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        
    </div>
</div>

</div>
