<app-top-header></app-top-header>
<app-navbar-v2></app-navbar-v2>
<div class="website-redesign-v2">
  <div class="site-page-body create-account-page-v2">
    <div class="create-account-main-section">
      <app-features class="features-component"></app-features>
      <div class="register-section">
        <h1 class="login-heading forgot-heading welcome-text">Trouble Logging In?</h1>
        <div class="login-sub-heading mb-4 mx-2 mx-md-auto text-center">
          <p>
            Enter the email you signed up with and we’ll send you a link to reset
            <span class="d-md-block">your password</span>
          </p>
        </div>
        <div class="form-section mx-2 mx-md-auto">
          <form class="site-form" novalidate="novalidate" #loginForm="ngForm" (ngSubmit)="contiune(loginForm.form)">
            <div class="row no-mobile-view-g">
              <div class="col-12 site-form-field-container">
                <label for="email">Email</label>
                <mat-form-field class="site-form-field" appearance="fill" appearance="outline"
                  [ngClass]="{'mat-form-field-invalid':!userEmail.valid && (onClickValidation || userEmail.touched || userEmail.dirty)}">

                  <input matInput required="required" name="userEmail" #userEmail="ngModel"
                    pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,4}$" [(ngModel)]="data.username" id="label"
                    placeholder="Enter email address">
                  <mat-icon matSuffix [ngClass]=" userEmail.value ? 'visible': 'invisible'"
                    (click)="clearEmail()">highlight_off
                  </mat-icon>
                </mat-form-field>
                <app-validation-message [field]="userEmail"
                  [customPatternMessage]="'Please provide a valid email address'"
                  [onClickValidation]="userEmail.dirty || userEmail.touched|| onClickValidation">
                </app-validation-message>
              </div>
            </div>
            <button mat-raised-button class="btn btn-lg sign-btn mt-2 mb-4" [disabled]="loginForm.form.invalid">
              Send Email
            </button>
            <div class="create-account-text text-center">
              Don't have an account yet?
              <a [routerLink]="['/create-account']" class="text-decoration-underline primary">
                Create Account for free
              </a>
            </div>
          </form>
        </div>
      </div>
      
    </div>
  </div>
</div>
<app-footer-v2></app-footer-v2>
