@use "@angular/material" as mat;
@import 'ngx-toastr/toastr';


@include mat.core();

html {
  --mat-toolbar-mobile-height: 64px !important;
}

$my-typography: mat.m2-define-typography-config(
  $font-family: "'Inter', sans-serif"
);
// Light Theme Text
$dark-text: #000000;
$dark-primary-text: rgba($dark-text, 0.87);
$dark-accent-text: rgba($dark-primary-text, 0.54);
$dark-disabled-text: rgba($dark-primary-text, 0.38);
$dark-dividers: rgba($dark-primary-text, 0.12);
$dark-focused: rgba($dark-primary-text, 0.12);

$light-text: #ffffff;
$light-primary-text: $light-text;
$light-accent-text: rgba($light-primary-text, 0.7);
$light-disabled-text: rgba($light-primary-text, 0.5);
$light-dividers: rgba($light-primary-text, 0.12);
$light-focused: rgba($light-primary-text, 0.12);


body {
  --primary-color: #338bdf;
  --primary-lighter-color: #bfd0ff;
  --primary-darker-color: #338bdf;
  --text-primary-color: #{$light-primary-text};
  --text-primary-lighter-color: #{$dark-primary-text};
  --text-primary-darker-color: #{$light-primary-text};
}   
$mat-primary: (
  main: #338bdf,
  lighter: #bfd0ff,
  darker: #338bdf,
  200: #338bdf, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$theme-primary: mat.m2-define-palette($mat-primary, main, lighter, darker);


body {
  --accent-color: #ffc629;
  --accent-lighter-color: #ffeebf;
  --accent-darker-color: #ffb119;
  --text-accent-color: #{$dark-primary-text};
  --text-accent-lighter-color: #{$dark-primary-text};
  --text-accent-darker-color: #{$dark-primary-text};
}   
$mat-accent: (
  main: #ffc629,
  lighter: #ffeebf,
  darker: #ffb119,
  200: #ffc629, // For slide toggle,
  contrast : (
    main: $dark-primary-text,
    lighter: $dark-primary-text,
    darker: $dark-primary-text,
  )
);
$theme-accent: mat.m2-define-palette($mat-accent, main, lighter, darker);
body {
  --warn-color: #ff0000;
  --warn-lighter-color: #ffb3b3;
  --warn-darker-color: #ff0000;
  --text-warn-color: #{$light-primary-text};
  --text-warn-lighter-color: #{$dark-primary-text};
  --text-warn-darker-color: #{$light-primary-text};
}   
$mat-warn: (
  main: #ff0000,
  lighter: #ffb3b3,
  darker: #ff0000,
  200: #ff0000, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$theme-warn: mat.m2-define-palette($mat-warn, main, lighter, darker);

$theme: (
  primary: $theme-primary,
  accent: $theme-accent,
  warn: $theme-warn,
);
$my-theme: mat.m2-define-light-theme(
  (
    color: $theme,
    typography: $my-typography
  )
);
@include mat.all-component-themes($my-theme);
@include mat.all-component-typographies($my-theme);
@include mat.core-theme($my-theme);


/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import "../public/assets/scss/common.scss";

html, body { height: 100%; }
body { margin: 0}
@media (max-width:768px) {
    html{
        font-size: 14px;
    }
}

.mat-density-2 {
  @include mat.all-component-densities(-2);
}

.mat-density-3 {
  @include mat.all-component-densities(-3);
}



/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
