<section class="trademark-type-section">

    <div class="container-xxl">
        <div class="row">
            <div class="col col-12 col-sm-12 col-lg-7">
                <section>
                    <div class="trademark-type-heading-content">
                        <h1>What would you like to protect ? </h1>
                        <p>Select what you are trying to protect</p>
                    </div>
                </section>
                <section>
                    <form [formGroup]="trademarkForm">
                        <div class="radio-wrapper-section">
                        <label class="radio-wrapper">
                            <input type="radio" class="radio-input"  formControlName="type" value="TRADEMARK"/>
                            <span class="radio-tile">
                                <div class="radio-label">
                                    <h1>Brand Name</h1>
                                    <p>Business name identifying your brand</p>
                                </div>
                                <span class="radio-icon">
                                    <img src="/assets/images/nike-wordmark.svg" alt="">
                                </span>
                                
                                
                            </span>
                        </label>
                    </div>
                    <div class="radio-wrapper-section">
                        <label class="radio-wrapper">
                            <input type="radio" class="radio-input"  formControlName="type" value="IMAGEMARK"/>
                            <span class="radio-tile">
                                <div class="radio-label">
                                    <h1>Brand Logo</h1>
                                    <p>Graphic symbol or design that identifies your brand</p>
                                </div>
                                <span class="radio-icon">
                                    <img src="/assets/images/nike-logo.svg" alt="">
                                </span>
                                
                                
                            </span>
                        </label>
                    </div>
                    <div class="radio-wrapper-section">
                        <label class="radio-wrapper">
                            <input type="radio" class="radio-input"  formControlName="type" value="TRADEMARK_WITH_IMAGE"/>
                            <span class="radio-tile">
                                <div class="radio-label">
                                    <h1>Brand name + Logo</h1>
                                    <p>Business name and graphic design that identifies your brand</p>
                                </div>
                                <span class="radio-icon">
                                    <img src="/assets/images/nike-logo-text.svg" alt="">
                                </span>
                                
                                
                            </span>
                        </label>
                    </div>
                    <div class="radio-wrapper-section">
                        <label class="radio-wrapper">
                            <input type="radio" class="radio-input"  formControlName="type" value="SLOGAN"/>
                            <span class="radio-tile">
                                <div class="radio-label">
                                    <h1>Slogan</h1>
                                    <p>Your brand's catchphrase or tagline</p>
                                </div>
                                <span class="radio-icon">
                                    <img src="/assets/images/nike-slogan.svg" alt="">
                                </span>
                                
                                
                            </span>
                        </label>
                    </div>

                    </form>
                    
                </section>
                <app-trademark-onboarding-btn-section
                (backEvent)="back()"
                 [isSubmitting]="isSubmitting" (buttonClick)="submit()"></app-trademark-onboarding-btn-section>                
            </div>
            <div class="col col-12 col-sm-12 col-lg-5"></div>
        </div>
    </div>

</section>